/*Color palete*/


:root {
    --background-color-1: #575a4b;
    --background-color-2: #2a2c24;
    --box-hover-color: #b3c0a4;
    --font-color: #ffffff;
    --font-box-color: #241623;
    --accent-color-1: #edafb8;
    --accent-color-2: #466178;
    --dark-color: #2c3e50;
    --box-color: #edafb8;
}



/* css resets */

/* Change box-sizing default to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}



* {
    margin: 0;
    padding: 0;
}

/* respect user font pref */
html{
    font-size: 100%;
}

img {
    max-width: 100%;
    display: block;
}

/* general css */

body {

    background-color: var(--background-color-2);
    color: var(--font-color);
    font-size: 1.5rem;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
   /* text-align: justify;*/

}

header {

    padding: 5rem 2rem;
    margin-bottom: 2rem;

}

header h1 {

   text-shadow: -3px 5px 1.5px #575a4b;
}

nav a {

    text-decoration: none;
    color: var(--font-color);
  /*  margin: 0 0.5rem;
    transition: color 0.3s ease;*/

}

nav a:hover {
    color: var(--accent-color-1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: var(--font-color);
    font-size: 3rem;
}

.nav-menu {
    list-style: none;
    display:flex;
    gap: 1rem;
}


@media (max-width: 750px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none;
    }
}






main {
    margin: 0;
}

@media (max-width: 1030px) {
    main{
        margin: 2rem;
    }
}

@media (max-width: 750px) {
    main{
        margin: 1rem;
    }
}


.about-content, .portfolio-content, .contact-content {

    max-width: 70rem;
    margin: 0 auto 7rem auto;
    

}

.about-content h2, .portfolio-content h2, .contact-content h2 {

    margin: 2rem 0;
    

}

.portfolio-item  {

    padding: 1rem;
    background-color: var(--box-color);
    color: var(--font-box-color-color);
    border-radius: 0.5rem;
}

.portfolio-item p {

    font-size: 1rem;

}

.portfolio-item h3 {

    font-size: 1.3rem;

}

/*.portfolio-item img {

    border-radius: 0.2rem;
}*/

footer {

    padding: 1rem 2rem;
}

footer img {

    display: inline-block;
    max-height: 3rem;
    margin: 0 .3rem;

}


.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
}

.flex-container-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: stretch;
}

.flex-item-grid {

    flex: 1 0 17rem;

}