/*
CSS RESETS:
 Border box reset:
https://www.paulirish.com/2012/box-sizing-border-box-ftw/
 62.5% Fix: https: //www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/
*/


html {
   box-sizing: border-box;
   font-size: 62.5%;
}


*,
*:before,
*:after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}


html,
body {
   height: 100%;
}


body {
    font-size: 1.6rem;
   /* font-size 1.6rem is now the same as 16px */
   line-height: 1.6;
}

header{
    padding: 50px;
    background-color: rgb(255, 36, 91);
    text-align: center;
}




/* main{

} */

.image-div{
   display: inline-block;
   position: absolute;
   top: 50px;
   right: 50px;
}

#image-0{
   position: absolute;
   top: 50px;
   right: 50px;
}

#image-1{
   position: absolute;
   top: 250px;
   right: 20px;
}

#image-2{
   position: fixed;
   top: 20px;
   right: 150px;
}

#image-2{
   position: fixed;
   top: 200px;
   right: 190px;
}
