/*
CSS RESETS
*/

/* Change box-sizing default to border-box */
*,
*::before,
*::after {
  box-sizing: border-box;
}


/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
}


/* Respect user font settings */
html {
  font-size: 100%;
}


/* Make images responsive */
img {
  max-width: 100%;
  display: block;
}

header{
    padding: 50px;
    background-color: rgb(255, 36, 91);
    text-align: center; 
}




:root {
   --bg: #eee;
   --font: #222;

}

body.dark {
   --bg: #222;
   --font: #eee;
}


body {
   color: var(--font);
   background-color: var(--bg);
}

main {
   text-align: center;
}

.hidden {
   display: none;
}

#img1 {
   position: absolute;
   top: 15rem;
   right: 50rem;
}

#img2 {
   position: absolute;
   top: 20rem;
   left: 4rem;
}

#img3 {
   position: absolute;
   top: 30rem;
   right: 30rem;
}