/*Color palete*/


:root {
    --background-color-1: #575a4b;
    --background-color-2: #2a2c24;
    --box-hover-color: #b3c0a4;
    --font-color: #ffffff;
    --font-box-color: #241623;
    --accent-color-1: #edafb8;
    --accent-color-2: #466178;
    --dark-color: #2c3e50;
    --box-color: #edafb8;
}









/* css resets */
* {
    margin: 0;
    padding: 0;
}

/* respect user font pref */
html{
    font-size: 100%;
}

/* general css */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color-1);
    font-family: "Concert One", sans-serif;
    color: var(--font-color);
    font-size: 1.2rem;
    line-height: 1.5;
}

header{
   /* background-image: url('../images/sunset-resize.png');*/
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem;
    margin-bottom: 3rem;
    background-color: var(--background-color-2);
    
    /* text-align: center; */
}

header h1{
font-size: 2.5rem;
color: var(--font-color);
font-family: "Coiny", system-ui;

}

nav {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

nav a {
    color: var(--font-color);
    font-family: "Coiny", system-ui;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1.2rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
   color: var(--box-color);
}

.about-section, .portfolio-section, .contact-section {
    margin-bottom: 3rem;
}

.about-content, .portfolio-content, .contact-content {
     max-width: 60rem;
     margin: 2rem auto;
}

.about-content h2, 
.portfolio-content h2, 
.contact-content h2 {
    padding: 1.5rem 0;

}

.portfolio-item {
    margin-bottom: 4rem;
    background-color: var(--box-color);
    padding: 1.5rem;
    text-align: justify;
    /* border: 2px solid rgb(161, 97, 97); */
    border-radius: 0.5rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

}

.portfolio-item img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    border-radius: 0.5rem;
    
}

.portfolio-item h3 {
    margin: 1rem 0;
    color: var(--background-color-2);
}

.portfolio-item p {
    font-size: 1.2rem;
    color: var(--background-color-2);
}


/* .about-section {
    background-color:rosybrown;

} */

.portfolio-section {

    background-color: var(--background-color-1);

}


footer {
    background-color: var(--background-color-2);
    padding: 1rem;
    text-align: center;
    color: white;
}

footer p {
    font-size: 1rem;
}


/*style classes */

.accent-1 {
    color: var(--accent-color-1);
    
}

.accent-2 {
    color: var(--accent-color-1);
    
}